.site-list {
  display: none;

  @include list-style-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.site-list__link {
  padding: 20px;
  min-height: 80px;
}

.site-list__item--current .site-list__link {
  color: $base-primary;
  border-bottom: 2px solid $base-primary;
}
