.user-list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;

  @media (min-width: $desktop-width) {
    max-width: 265px;
    gap: 20px;
  }
}

.user-list__item--menu {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list__link {
  min-width: 60px;
  min-height: 60px;
  padding: 20px;
  gap: 8px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }
}

.user-list__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
